@model IEnumerable<Domain.Models.Course>

@{
    ViewData["Title"] = "Todos os Cursos";
}

    <h2>Todos os Cursos</h2>

<p>
    <a asp-action="Create">Cadastrar um novo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name) </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes do Curso</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir Curso</a>
            </td>
        </tr>
}
    </tbody>
</table>
